<div class="container">
    <h3>Que quieres hacer?</h3>
    <mat-checkbox #checkPag color="primary" (change)="calcular($event)">
        <div>Una pagina web (500€)</div>
    </mat-checkbox> <br>

    <app-calculo *ngIf="checkPag.checked"></app-calculo>

    <mat-checkbox #checkSEO color="primary" (change)="calcular($event)">
        <div>Una consultoria SEO (300€)</div>
    </mat-checkbox><br>
    <mat-checkbox #checkAds color="primary" id=3 (change)="calcular($event)">
        <div>Una campaña de Google Ads (200€)</div>
    </mat-checkbox>
    <p>Preu: </p>

</div>